server {
    listen <%= @nginx_vhost_listen %>;
    server_name <%= @nginx_vhost_server_name %>;
    root <%= @nginx_vhost_root %>;

    if (!-e $request_filename)
    {
        rewrite ^/(.*)$ /index.php?/$1 break;
        break;
    }
    rewrite themes/.*/(layouts|pages|partials)/.*.htm /index.php break;
    rewrite uploads/protected/.* /index.php break;
    rewrite app/.* /index.php break;
    index index.php;

    location ~ \.php$ {
        include fastcgi_params;

        # FOR OCTOBER INSTALL AND UPDATES
        fastcgi_read_timeout 300;

        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
    }
    location / {
        try_files $uri /index.php?$query_string;
    }
}