server {
    listen <%= @nginx_vhost_listen %>;
    server_name <%= @nginx_vhost_server_name %>;
    root <%= @nginx_vhost_root %>;
    index index.php;
    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
    }
    location / {
        try_files $uri /index.php?$query_string;
    }
}