<?php

return array(
	'CONF_DATABASE_HOST'     => '<%= @db_host %>',
	'CONF_DATABASE_PORT'     => '<%= @db_port %>',
	'CONF_DATABASE_NAME'     => '<%= @db_name %>',
	'CONF_DATABASE_USER'     => '<%= @db_user %>',
	'CONF_DATABASE_PASSWORD' => '<%= @db_password %>',
	'CONF_REDIS_HOST'        => '<%= @redis_host %>',
	'CONF_REDIS_PORT'        => '<%= @redis_port %>',
	'CONF_REDIS_PASSWORD'    => '<%= @redis_password %>'
);
